@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
   --font-music-player: "Lato", sans-serif;      
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    height: 100vh;
    font-family: var(--font-music-player);
    background-image: linear-gradient(
        0deg,
        rgba(247, 247, 247, 1) 23.8%,
        rgba(252, 221, 221, 1) 92%
    );
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1#title {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.music-player-cont {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 0;
    margin-left: 0;
    z-index: 10;
}

.image-container {
    position: relative;
    width: 110px;
}

.image-container::after {
   content: '';
   background-color: #fff;
   height: 20px;
   width: 20px;
   position: absolute;
   left: 50%;
   bottom: 50%;
   border-radius: 50%;
   transform: translate(-50%, -50%);
}

.image-container img {
  width: inherit;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: rotate 4s linear infinite;
  animation-play-state: paused;
}

.music-player-cont.play .image-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-button {
    background-color: #fff;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
    margin-left: 20px;
}

.action-button-big {
    color: #cdc2d0;
    font-size: 30px;
}

.action-button:focus {
    outline: 0;
}

.musicInfo {
    background-color: rgba(250, 250, 250, 0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in opacity 0.3s ease-in;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 150px;
}

.music-player-cont.play .musicInfo {
    opacity: 1;
    transform: translateY(-100%);
}

.musicInfo > h4#songTitle {
    margin: 0;
}

.progress-container {
    background-color: #fff;
    border-radius: 5px;
    curson: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    margin-right: 0;
    height: 4px;
    width: 100%;
}

